{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cold Letter</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>
  <body>
      <div
        class="h-96 w-96 p-5 bg-white rounded-xl bg-neutral-150 backdrop-filter bg-opacity-30 border-gray-600 backdrop-blur-lg"
      >
        <form action="/" method="POST">
          {% csrf_token %}
          <div>
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              placeholder="Enter your name"
              required
            />
          </div>
          <div>
            <label for="email">Professor/Company</label>
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
        </form>
      </div>
  </body>
</html>
